<section id="first-section" class="first-section section">
  <div class="container vegetable-container">
    <div class="vegetable-left">
      <h2 class="order-caption">
        To order your vegetable basket, simply follow these easy steps
      </h2>
      <img
        class="order-img-desk"
        srcset="
          ./img/about-img/desktop-vegetables-1x-min.jpg 1x,
          ./img/about-img/desktop-vegetables-2x-min.jpg 2x
        "
        src="./img/about-img/desktop-vegetables-min.jpg"
        alt="vegetables"
      />
      <img
        class="order-img-mob"
        srcset="
          ./img/about-img/mob-vegetables-1x-min.jpg 1x,
          ./img/about-img/mob-vegetables-2x-min.jpg 2x
        "
        src="./img/about-img/tablet-vegetables-min.jpg"
        alt="vegetables"
      />
      <img
        class="order-img-tabl"
        srcset="
          ./img/about-img/tablet-vegetables-1x-min.jpg 1x,
          ./img/about-img/tablet-vegetables-2x-min.jpg 2x
        "
        src="./img/about-img/tablet-vegetables-min.jpg"
        alt="vegetables"
      />
    </div>
    <div class="vegetable-right">
      <p class="order-text order-text-left">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <p class="order-text">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>
  </div>
</section>
