<footer id="footer">
  <div class="footer-cont container">
    <div class="footer-imglogo">
      <img
        srcset="
          ./img/footer/vegetablesx1.webp 1x,
          ./img/footer/vegetablesx1.webp 2x
        "
        alt="broccoli"
        src="./img/footer/vegetablesx1.jpg"
        width="335"
        height="172"
      />
      <div class="footer-logo">
        <a href="./index.html" class="footer-logo-link">
          <svg class="footer-svg">
            <use href="./img/icons.svg#icon-logo" width="16" height="16"></use>
          </svg>
          <p>veggieboost</p>
        </a>
      </div>
    </div>
    <div class="footer-menu">
      <ul class="foot-ul">
        <li class="foot-li">
          <a href="#instruction" class="foot-menu-text">How It Works</a>
        </li>
        <li class="foot-li">
          <a href="#section-garden" class="foot-menu-text">Vegetables</a>
        </li>
        <li class="foot-li">
          <a href="#footer" class="foot-menu-text">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="footer-div-two">
      <div class="footer-socials">
        <ul class="foot-soc-ul">
          <li class="foot-soc-li">
            <a
              class="foot-soc-link"
              href="https://www.facebook.com/"
              aria-label=""
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="foot-soc-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="foot-soc-li">
            <a
              class="foot-soc-link"
              href="https://www.instagram.com/"
              aria-label=""
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="foot-soc-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="foot-soc-li">
            <a
              class="foot-soc-link"
              href="https://www.youtube.com/"
              aria-label=""
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="foot-soc-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <address>
        <a href="tel:+380684439426" class="contacts">+380 (68) 443-94-26</a>
        <a
          href="https://goo.gl/maps/hRzey5vdSYHuPue78"
          target="_blank"
          class="foot-address"
        >
          1678 S. Pioneer Road<br />
          Salt Lake City<br />
          UT 84104
        </a>
      </address>
    </div>
  </div>
</footer>
