<header class="header">
  <div class="header-container container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#instruction" class="nav-link">How It Works</a>
        </li>
        <li class="nav-item">
          <a href="#section-garden" class="nav-link">Vegetables</a>
        </li>
        <li class="nav-item">
          <a href="#footer" class="nav-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header-logo">
      <svg class="header-logo-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
      <a href="/index.html" class="nav-logo">veggieboost</a>
    </div>  
    <button class="icon-burger js-open-menu" type="button">
      <svg class="burger" width="24" height="24">
        <use href="./img/icons.svg#icon-mobile-menu"></use>
      </svg>
    </button>
    <button class="header-basket" data-modal1-open="" type="button">
      <svg class="header-basket-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-shopping-cart-1"></use>
      </svg>
    </button>
  </div>
  
  <div class="mobile-container js-menu-container js-close-menu">
    <button type="button" class="mobile-close-btn js-close-menu">
      <svg class="close-btn-icon" width="8" height="8">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="modal-mobile-nav">
      <div class="header-logo-mob">
        <svg class="header-logo-icon" width="16" height="16">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        <a href="/index.html" class="nav-logo">veggieboost</a>
      </div>
      <div class="modal-mob">
      <ul class="modal-mobile-list">
        <li class="modal-mobile-item">
          <a href="#instruction" class="modal-mobile-link">How It Works</a>
        </li>
        <li class="modal-mobile-item">
          <a href="#section-garden" class="modal-mobile-link">Vegetables</a>
        </li>
        <li class="modal-mobile-item">
          <a href="#footer" class="modal-mobile-link">Contacts</a>
        </li>
      </ul>
      <button class="header-basket-m" data-modal2-open="" type="button">
        <svg class="header-basket-mob" width="24" height="24">
          <use href="./img/icons.svg#icon-shopping-cart"></use>
        </svg>
      </button></div>
    </nav>
  </div>
</header>
