<section class="hero">
  <div class="hero-container container">
    <div class="hero-first-wrapper">
      <div class="hero-reviews">
        <img
          class="hero-reviews-photo1"
          srcset="
            ./img/hero-img/review1.webp    1x,
            ./img/hero-img/review1-2x.webp 2x
          "
          src="./img/hero-img/review1.png"
          alt="review 1"
          width="40"
          height="40"
        />

        <img
          class="hero-reviews-photo2"
          srcset="
            ./img/hero-img/review2.webp    1x,
            ./img/hero-img/review2-2x.webp 2x
          "
          src="./img/hero-img/review2.png"
          alt="review 1"
          width="40"
          height="40"
        />
        <img
          class="hero-reviews-photo3"
          srcset="
            ./img/hero-img/review3.webp    1x,
            ./img/hero-img/review3-2x.webp 2x
          "
          src="./img/hero-img/review3.png"
          alt="review 1"
          width="40"
          height="40"
        />
        <div class="hero-reviews-tex">
          <p class="hero-reviews-p1">2k</p>
          <p class="hero-reviews-p2">reviews</p>
        </div>
      </div>
      <h1 class="hero-header">
        organic <span>vegetables</span> to your diet today!
      </h1>
      <p class="hero-tex">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
      <button type="button" class="hero-btn" data-modal-open>shop now</button>
    </div>
    <div class="hero-second-wrapper">
      <img
        class="hero-photo-img"
        srcset="
          ./img/hero-img/hero-main-photo.webp    1x,
          ./img/hero-img/hero-main-photo-2x.webp 2x
        "
        src="./img/hero-img/hero-main-photo.png"
        alt="girl with vegetable"
        width="278"
        height="228"
      />
      <div class="hero-tegs-wrapper">
        <ul class="hero-list hero-list-first">
          <li class="hero-list-item-first">#organic</li>
          <li class="hero-list-item">#products</li>
        </ul>
        <ul class="hero-list">
          <li class="hero-list-item">#basket</li>
          <li class="hero-list-item">#vegetables</li>
        </ul>
      </div>
    </div>
  </div>
</section>
