<section class="section-instruction section" id="instruction">
  <div class="instruction-container container">
    <img
      class="instruction-img"
      srcset="
        ./img/instruction/red-cap-girl.webp    1x,
        ./img/instruction/red-cap-girl-2x.webp 2x
      "
      src="./img/instruction/red-cap-girl.png"
      alt="girl"
      width="434"
      height="420"
    />

    <div class="instruction-text">
      <h3 class="instruction-title">
        3 Easy Steps for Buying Fresh Vegetables
      </h3>
      <ol class="instruction-list list" role="list">
        <li class="instruction-item" data-number="1">
          Just choose the vegetable you want to order by clicking on the
          checkboxes next to it.
        </li>
        <li class="instruction-item" data-number="2">
          Click on the basket and fill<br />
          out the form.
        </li>
        <li class="instruction-item" data-number="3">
          Sit back and relax! Your fresh vegetables basket will be delivered.
        </li>
      </ol>
    </div>
  </div>
</section>
