<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal-btn" data-modal-close>
            <svg class="modal_christ" width="" height="">
                <use href="./img/icons.svg#icon-close"></use>
            </svg>
        </button>

        <p class="modalp">Your Order</p>
        <ul class="modal-div">
            <li class="modal-li">
                <div class="modal-li-check">
                    <h5 class="modal-h5">Cabbage Basket</h5>
                    <p class="modal-p">Plant</p>
                </div>
                <img class="modal-img" srcset="./img/modal/cabbage-mobile.png 1x, ./img/modal/cabbage-tab.png 2x"
                    src="./img/modal/cabbage.png" alt="cabbage" width="94" height="78" />
                <div class="modal-chek">
                    <input type="checkbox" name="user-privacy" id="goods1" value="true"
                        class="modal-input-check modal-visually-hidden">
                    <label for="goods1" class="modal-check-text">
                        <span class="modal-span">
                            <svg class="" width="10" height="8">
                                <use href="./img/icons.svg#icon-checkbox-pick"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
            <li class="modal-li">
                <div class="modal-li-check">
                    <h5 class="modal-h5">Tomato Basket</h5>
                    <p class="modal-p">Plant</p>
                </div>
                <img class="modal-img" srcset="./img/modal/tomato-mobile.png 1x, ./img/modal/tomato-tab.png 2x"
                    src="./img/modal/tomato.png" alt="tomato" width="94" height="78" />
                <div class="modal-chek">
                    <input type="checkbox" name="user-privacy" id="goods2" value="true"
                        class="modal-input-check modal-visually-hidden">
                    <label for="goods2" class="modal-check-text">
                        <span class="modal-span">
                            <svg class="" width="10" height="8">
                                <use href="./img/icons.svg#icon-checkbox-pick"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
            <li class="modal-li">
                <div class="modal-li-check">
                    <h5 class="modal-h5">Vegetables Basket</h5>
                    <p class="modal-p">Plant</p>
                </div>
                <img class="modal-img"
                    srcset="./img/modal/vegetables-basket-mobile.png 1x, ./img/modal/vegetables-basket-tab.png 2x "
                    src="./img/modal/vegetables.png" alt="vegetables" width="94" height="78" />
                <div class="modal-chek">
                    <input type="checkbox" name="user-privacy" id="goods3" value="true"
                        class="modal-input-check modal-visually-hidden">
                    <label for="goods3" class="modal-check-text">
                        <span class="modal-span">
                            <svg class="" width="10" height="8">
                                <use href="./img/icons.svg#icon-checkbox-pick"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
        </ul>
        <div class="modal-div-anket">
            <form class="modal-form">

                <div class="modal-input-div">
                    <div class="modal-inputdiv-icon">
                        <input type="text" class="modal_icon" name="user-name" id="user-name"
                            placeholder="Enter full name..." />
                    </div>
                </div>
                <div class="modal-input-div">
                    <div class="modal-inputdiv-icon">
                        <input type="email" class="modal_icon" name="email" id="mailto" placeholder="Enter email..." />
                    </div>
                </div>
                <div class="modal-input-div">
                    <div class="modal-inputdiv-icon">
                        <input type="text" id="card__number" class="modal_icon" placeholder="Enter card.."
                            pattern="[0-9]{14,23}" name="cardnumber">
                    </div>
                </div>
                <div class="modal-input-div">
                    <textarea class="modal_text" name="user-comment" id="user-comment" cols="200" rows="450"
                        placeholder="Enter comments..."></textarea>
                </div>

                <button type="submit" class="modal-buttom" data-modal-open="">Submit</button>
            </form>
            <div class="modal-girl-desk"></div>
            <div class="modal-girl-tab"></div>

        </div>
    </div>
</div>



<div class="backdrop is-hidden" data-modal1>
    <div class="modal">
        <button type="button" class="modal-btn" data-modal1-close>
            <svg class="modal_christ" width="" height="">
                <use href="./img/icons.svg#icon-close"></use>
            </svg>
        </button>

        <p class="modalp">Your Order</p>
        <ul class="modal-div">
            <li class="modal-li">
                <div class="modal-li-check">
                    <h5 class="modal-h5">Cabbage Basket</h5>
                    <p class="modal-p">Plant</p>
                </div>
                <img class="modal-img" srcset="./img/modal/cabbage-mobile.png 1x, ./img/modal/cabbage-tab.png 2x"
                    src="./img/modal/cabbage.png" alt="cabbage" width="94" height="78" />
                <div class="modal-chek">
                    <input type="checkbox" name="user-privacy" id="goods4" value="true"
                        class="modal-input-check modal-visually-hidden">
                    <label for="goods4" class="modal-check-text">
                        <span class="modal-span">
                            <svg class="" width="10" height="8">
                                <use href="./img/icons.svg#icon-checkbox-pick"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
            <li class="modal-li">
                <div class="modal-li-check">
                    <h5 class="modal-h5">Tomato Basket</h5>
                    <p class="modal-p">Plant</p>
                </div>
                <img class="modal-img" srcset="./img/modal/tomato-mobile.png 1x, ./img/modal/tomato-tab.png 2x"
                    src="./img/modal/tomato.png" alt="tomato" width="94" height="78" />
                <div class="modal-chek">
                    <input type="checkbox" name="user-privacy" id="goods5" value="true"
                        class="modal-input-check modal-visually-hidden">
                    <label for="goods5" class="modal-check-text">
                        <span class="modal-span">
                            <svg class="" width="10" height="8">
                                <use href="./img/icons.svg#icon-checkbox-pick"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
            <li class="modal-li">
                <div class="modal-li-check">
                    <h5 class="modal-h5">Vegetables Basket</h5>
                    <p class="modal-p">Plant</p>
                </div>
                <img class="modal-img"
                    srcset="./img/modal/vegetables-basket-mobile.png 1x, ./img/modal/vegetables-basket-tab.png 2x "
                    src="./img/modal/vegetables.png" alt="vegetables" width="94" height="78" />
                <div class="modal-chek">
                    <input type="checkbox" name="user-privacy" id="goods6" value="true"
                        class="modal-input-check modal-visually-hidden">
                    <label for="goods6" class="modal-check-text">
                        <span class="modal-span">
                            <svg class="" width="10" height="8">
                                <use href="./img/icons.svg#icon-checkbox-pick"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
        </ul>
        <div class="modal-div-anket">
            <form class="modal-form">

                <div class="modal-input-div">
                    <div class="modal-inputdiv-icon">
                        <input type="text" class="modal_icon" name="user-name" id="user-name1"
                            placeholder="Enter full name..." />
                    </div>
                </div>
                <div class="modal-input-div">
                    <div class="modal-inputdiv-icon">
                        <input type="email" class="modal_icon" name="email" id="mailto1" placeholder="Enter email..." />
                    </div>
                </div>
                <div class="modal-input-div">
                    <div class="modal-inputdiv-icon">
                        <input type="text" id="card__number1" class="modal_icon" placeholder="Enter card.."
                            pattern="[0-9]{14,23}" name="cardnumber">
                    </div>
                </div>
                <div class="modal-input-div">
                    <textarea class="modal_text" name="user-comment" id="user-comment1" cols="200" rows="450"
                        placeholder="Enter comments..."></textarea>
                </div>

                <button type="submit" class="modal-buttom" data-modal1-open="">Submit</button>
            </form>
            <div class="modal-girl-desk"></div>
            <div class="modal-girl-tab"></div>
        </div>
    </div>
</div>


<div class="backdrop is-hidden" data-modal2>
    <div class="modal">
        <button type="button" class="modal-btn" data-modal2-close>
            <svg class="modal_christ" width="" height="">
                <use href="./img/icons.svg#icon-close"></use>
            </svg>
        </button>

        <p class="modalp">Your Order</p>
        <ul class="modal-div">
            <li class="modal-li">
                <div class="modal-li-check">
                    <h5 class="modal-h5">Cabbage Basket</h5>
                    <p class="modal-p">Plant</p>
                </div>
                <img class="modal-img" srcset="./img/modal/cabbage-mobile.png 1x, ./img/modal/cabbage-tab.png 2x"
                    src="./img/modal/cabbage.png" alt="cabbage" width="94" height="78" />
                <div class="modal-chek">
                    <input type="checkbox" name="user-privacy" id="goods7" value="true"
                        class="modal-input-check modal-visually-hidden">
                    <label for="goods7" class="modal-check-text">
                        <span class="modal-span">
                            <svg class="" width="10" height="8">
                                <use href="./img/icons.svg#icon-checkbox-pick"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
            <li class="modal-li">
                <div class="modal-li-check">
                    <h5 class="modal-h5">Tomato Basket</h5>
                    <p class="modal-p">Plant</p>
                </div>
                <img class="modal-img" srcset="./img/modal/tomato-mobile.png 1x, ./img/modal/tomato-tab.png 2x"
                    src="./img/modal/tomato.png" alt="tomato" width="94" height="78" />
                <div class="modal-chek">
                    <input type="checkbox" name="user-privacy" id="goods8" value="true"
                        class="modal-input-check modal-visually-hidden">
                    <label for="goods8" class="modal-check-text">
                        <span class="modal-span">
                            <svg class="" width="10" height="8">
                                <use href="./img/icons.svg#icon-checkbox-pick"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
            <li class="modal-li">
                <div class="modal-li-check">
                    <h5 class="modal-h5">Vegetables Basket</h5>
                    <p class="modal-p">Plant</p>
                </div>
                <img class="modal-img"
                    srcset="./img/modal/vegetables-basket-mobile.png 1x, ./img/modal/vegetables-basket-tab.png 2x "
                    src="./img/modal/vegetables.png" alt="vegetables" width="94" height="78" />
                <div class="modal-chek">
                    <input type="checkbox" name="user-privacy" id="goods9" value="true"
                        class="modal-input-check modal-visually-hidden">
                    <label for="goods9" class="modal-check-text">
                        <span class="modal-span">
                            <svg class="" width="10" height="8">
                                <use href="./img/icons.svg#icon-checkbox-pick"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
        </ul>
        <div class="modal-div-anket">
            <form class="modal-form">

                <div class="modal-input-div">
                    <div class="modal-inputdiv-icon">
                        <input type="text" class="modal_icon" name="user-name" id="user-name2"
                            placeholder="Enter full name..." />
                    </div>
                </div>
                <div class="modal-input-div">
                    <div class="modal-inputdiv-icon">
                        <input type="email" class="modal_icon" name="email" id="mailto2" placeholder="Enter email..." />
                    </div>
                </div>
                <div class="modal-input-div">
                    <div class="modal-inputdiv-icon">
                        <input type="text" id="card__number2" class="modal_icon" placeholder="Enter card.."
                            pattern="[0-9]{14,23}" name="cardnumber">
                    </div>
                </div>
                <div class="modal-input-div">
                    <textarea class="modal_text" name="user-comment" id="user-comment2" cols="200" rows="450"
                        placeholder="Enter comments..."></textarea>
                </div>

                <button type="submit" class="modal-buttom" data-modal2-open="">Submit</button>
            </form>
            <div class="modal-girl-desk"></div>
            <div class="modal-girl-tab"></div>
        </div>
    </div>
</div>


<div class="backdrop is-hidden" data-modal3>
    <div class="modal">
        <button type="button" class="modal-btn" data-modal3-close>
            <svg class="modal_christ" width="" height="">
                <use href="./img/icons.svg#icon-close"></use>
            </svg>
        </button>

        <p class="modalp">Your Order</p>
        <ul class="modal-div">
            <li class="modal-li">
                <div class="modal-li-check">
                    <h5 class="modal-h5">Cabbage Basket</h5>
                    <p class="modal-p">Plant</p>
                </div>
                <img class="modal-img" srcset="./img/modal/cabbage-mobile.png 1x, ./img/modal/cabbage-tab.png 2x"
                    src="./img/modal/cabbage.png" alt="cabbage" width="94" height="78" />
                <div class="modal-chek">
                    <input type="checkbox" name="user-privacy" id="goods10" value="true"
                        class="modal-input-check modal-visually-hidden">
                    <label for="goods10" class="modal-check-text">
                        <span class="modal-span">
                            <svg class="" width="10" height="8">
                                <use href="./img/icons.svg#icon-checkbox-pick"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
            <li class="modal-li">
                <div class="modal-li-check">
                    <h5 class="modal-h5">Tomato Basket</h5>
                    <p class="modal-p">Plant</p>
                </div>
                <img class="modal-img" srcset="./img/modal/tomato-mobile.png 1x, ./img/modal/tomato-tab.png 2x"
                    src="./img/modal/tomato.png" alt="tomato" width="94" height="78" />
                <div class="modal-chek">
                    <input type="checkbox" name="user-privacy" id="goods11" value="true"
                        class="modal-input-check modal-visually-hidden">
                    <label for="goods11" class="modal-check-text">
                        <span class="modal-span">
                            <svg class="" width="10" height="8">
                                <use href="./img/icons.svg#icon-checkbox-pick"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
            <li class="modal-li">
                <div class="modal-li-check">
                    <h5 class="modal-h5">Vegetables Basket</h5>
                    <p class="modal-p">Plant</p>
                </div>
                <img class="modal-img"
                    srcset="./img/modal/vegetables-basket-mobile.png 1x, ./img/modal/vegetables-basket-tab.png 2x "
                    src="./img/modal/vegetables.png" alt="vegetables" width="94" height="78" />
                <div class="modal-chek">
                    <input type="checkbox" name="user-privacy" id="goods12" value="true"
                        class="modal-input-check modal-visually-hidden">
                    <label for="goods12" class="modal-check-text">
                        <span class="modal-span">
                            <svg class="" width="10" height="8">
                                <use href="./img/icons.svg#icon-checkbox-pick"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
        </ul>
        <div class="modal-div-anket">
            <form class="modal-form">

                <div class="modal-input-div">
                    <div class="modal-inputdiv-icon">
                        <input type="text" class="modal_icon" name="user-name" id="user-name3"
                            placeholder="Enter full name..." />
                    </div>
                </div>
                <div class="modal-input-div">
                    <div class="modal-inputdiv-icon">
                        <input type="email" class="modal_icon" name="email" id="mailto3" placeholder="Enter email..." />
                    </div>
                </div>
                <div class="modal-input-div">
                    <div class="modal-inputdiv-icon">
                        <input type="text" id="card__number3" class="modal_icon" placeholder="Enter card.."
                            pattern="[0-9]{14,23}" name="cardnumber">
                    </div>
                </div>
                <div class="modal-input-div">
                    <textarea class="modal_text" name="user-comment" id="user-comment3" cols="200" rows="450"
                        placeholder="Enter comments..."></textarea>
                </div>

                <button type="submit" class="modal-buttom" data-modal3-open="">Submit</button>
            </form>
            <div class="modal-girl-desk"></div>
            <div class="modal-girl-tab"></div>

        </div>
    </div>
</div>