<section class="section rec-section">
  <div class="container recall-loc">
    <div class="recall-desc">
      <h2 class="recall-tittle">Fresh Harvest Box has got you covered</h2>
      <p class="recall-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
      <div class="recall-line">
        <form class="recall-form">
          <label class="recall-label">
            <input class="recall-input" name="text" type="text" placeholder="+380 ()"
              pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" minlength="13" maxlength="13" required>
          </label>
          <button class="recall-btn" type="submit">Recall</button>
        </form>
      </div>
    </div>
    <div class="recall-img">
      <picture>
        <source srcset="/img/recall/img-girl-desc-min.png 1x,
         /img/recall/img-girl-desc.png  2x
                  " media="(min-width: 1280px)">
        <source srcset="/img/recall/img-girl-tabl-min.png 1x,
                    /img/recall/img-girl-tabl.png 2x
                  " media="(min-width: 768px)">
        <source srcset="/img/recall/img-girl-mob-min.png 1x,
                    /img/recall/img-girl-mob.png 2x
                  " media="(max-width: 375px)">
        <img src="/img/recall/img-girl-mob-min.png" alt="girl">
      </picture>
    </div>
  </div>
</section>