<section id="section-garden" class="section-garden">
  <div class="garden-container container">
    <div class="garden-cap">
      <h2 class="garden-title">oRGANIC vegetables</h2>
      <p class="garden-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <ul class="garden-menu list">
      <li class="garden-list">
        <div class="garden-item">
          <div class="garden-item-cup">
            <h3 class="garden-subtitle">Carrot</h3>
            <p class="garden-list-text">Plant</p>
          </div>
          <div class="garden-img">
            <picture class="garden-images"
              ><source
                srcset="./img/store/carrot.webp 1x, ./img/store/carrotx.webp 2x"
                type="image/webp" />

              <source
                srcset="
                  ./img/store/carrot.png  1x,
                  ./img/store/carrotx.png 2x
                " />
              <img
                src="./img/store/carrot.png"
                alt="vegetables carrot"
                width="299"
                height="249"
            /></picture>
          </div>
        </div>
        <p class="garden-price">100 UAH / kg</p>
      </li>
      <li class="garden-list">
        <div class="garden-item">
          <div class="garden-item-cup">
            <h3 class="garden-subtitle">Brussel sprouts</h3>
            <p class="garden-list-text">Plant</p>
          </div>
          <div class="garden-img">
            <picture class="garden-images"
              ><source
                srcset="
                  ./img/store/brussel.webp  1x,
                  ./img/store/brusselx.webp 2x
                "
                type="image/webp" />

              <source
                srcset="
                  ./img/store/brussel.png  1x,
                  ./img/store/brusselx.png 2x
                " />
              <img
                src="./img/store/brussel.png"
                alt="vegetables brussel sprouts"
                width="299"
                height="249"
            /></picture>
          </div>
        </div>
        <p class="garden-price">80 UAH / kg</p>
      </li>
      <li class="garden-list">
        <div class="garden-item">
          <div class="garden-item-cup">
            <h3 class="garden-subtitle">Tomato</h3>
            <p class="garden-list-text">Plant</p>
          </div>
          <div class="garden-img">
            <picture class="garden-images"
              ><source
                srcset="./img/store/tomato.webp 1x, ./img/store/tomatox.webp 2x"
                type="image/webp" />

              <source
                srcset="
                  ./img/store/tomato.png  1x,
                  ./img/store/tomatox.png 2x
                " />
              <img
                src="./img/store/tomato.png"
                alt="vegetables tomato"
                width="299"
                height="249"
            /></picture>
          </div>
        </div>
        <p class="garden-price">40 UAH / kg</p>
      </li>
      <li class="garden-list">
        <div class="garden-item">
          <div class="garden-item-cup">
            <h3 class="garden-subtitle">Eggplant</h3>
            <p class="garden-list-text">Plant</p>
          </div>
          <div class="garden-img">
            <picture class="garden-images"
              ><source
                srcset="
                  ./img/store/eggplant.webp  1x,
                  ./img/store/eggplantx.webp 2x
                "
                type="image/webp" />

              <source
                srcset="
                  ./img/store/eggplant.png  1x,
                  ./img/store/eggplantx.png 2x
                " />
              <img
                src="./img/store/eggplant.png"
                alt="vegetables eggplant"
                width="299"
                height="249"
            /></picture>
          </div>
        </div>
        <p class="garden-price">60 UAH / kg</p>
      </li>
      <li class="garden-list">
        <div class="garden-item">
          <div class="garden-item-cup">
            <h3 class="garden-subtitle">Sweet potatoes</h3>
            <p class="garden-list-text">Plant</p>
          </div>
          <div class="garden-img">
            <picture class="garden-images"
              ><source
                srcset="
                  ./img/store/potatoes.webp  1x,
                  ./img/store/potatoesx.webp 2x
                "
                type="image/webp" />

              <source
                srcset="
                  ./img/store/potatoes.png  1x,
                  ./img/store/potatoesx.png 2x
                " />
              <img
                src="./img/store/potatoes.png"
                alt="vegetables sweet potatoes"
                width="299"
                height="249"
            /></picture>
          </div>
        </div>
        <p class="garden-price">80 UAH / kg</p>
      </li>
      <li class="garden-list">
        <div class="garden-item">
          <div class="garden-item-cup">
            <h3 class="garden-subtitle">Leek</h3>
            <p class="garden-list-text">Plant</p>
          </div>
          <div class="garden-img">
            <picture class="garden-images"
              ><source
                srcset="./img/store/leek.webp 1x, ./img/store/leekx.webp 2x"
                type="image/webp" />

              <source
                srcset="./img/store/leek.png 1x, ./img/store/leekx.png 2x" />
              <img
                src="./img/store/leek.png"
                alt="vegetables leek"
                width="299"
                height="249"
            /></picture>
          </div>
        </div>
        <p class="garden-price">50 UAH / kg</p>
      </li>
      <li class="garden-list">
        <div class="garden-item">
          <div class="garden-item-cup">
            <h3 class="garden-subtitle">Mushrooms</h3>
            <p class="garden-list-text">Plant</p>
          </div>
          <div class="garden-img">
            <picture class="garden-images"
              ><source
                srcset="
                  ./img/store/mushrooms.webp 1x,
                  ./img/store/mushromsx.webp 2x
                "
                type="image/webp" />

              <source
                srcset="
                  ./img/store/mushrooms.png 1x,
                  ./img/store/mushromsx.png 2x
                " />
              <img
                src="./img/store/mushrooms.png"
                alt="vegetables mushrooms"
                width="299"
                height="249"
            /></picture>
          </div>
        </div>
        <p class="garden-price">40 UAH / kg</p>
      </li>
      <li class="garden-list">
        <div class="garden-item">
          <div class="garden-item-cup">
            <h3 class="garden-subtitle">Corn</h3>
            <p class="garden-list-text">Plant</p>
          </div>
          <div class="garden-img">
            <picture class="garden-images"
              ><source
                srcset="./img/store/corn.webp 1x, ./img/store/cornx.webp 2x"
                type="image/webp" />

              <source
                srcset="./img/store/corn.png 1x, ./img/store/cornx.png 2x" />
              <img
                src="./img/store/corn.png"
                alt="vegetables corn"
                width="299"
                height="249"
            /></picture>
          </div>
        </div>
        <p class="garden-price">60 UAH / kg</p>
      </li>
      <li class="garden-list">
        <div class="garden-item">
          <div class="garden-item-cup">
            <h3 class="garden-subtitle">Radish</h3>
            <p class="garden-list-text">Plant</p>
          </div>
          <div class="garden-img">
            <picture class="garden-images"
              ><source
                srcset="./img/store/radish.webp 1x, ./img/store/radishx.webp 2x"
                type="image/webp" />

              <source
                srcset="
                  ./img/store/radish.png  1x,
                  ./img/store/radishx.png 2x
                " />
              <img
                src="./img/store/radish.png"
                alt="vegetables radish"
                width="299"
                height="249"
            /></picture>
          </div>
        </div>
        <p class="garden-price">90 UAH / kg</p>
      </li>
    </ul>
  </div>
  <div class="garden-btn-container container">
    <button type="button" class="garden-btn" data-modal3-open>
      <svg class="garden-btn-icon" width="14" height="14">
        <use href="./img/icons.svg#icon-order"></use>
      </svg>
      Order
    </button>
  </div>
</section>
