.instruction-container {
  /* max-width: 320px; */
  border-radius: 40px;
  background-color: var(--light-bg-color);
  background-image: url(/img/instruction/bg-mobile-1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  padding-left: 20px;
  padding-right: 20px;
  width: 250px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .instruction-container {
    background-image: url(/img/instruction/bg-mobile-2x.png);
  }
}

.img-container {
  width: 258px;
  height: 319px;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  object-position: bottom;
}

.instruction-text {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 100%;
  margin: 0;
}
.instruction-title {
  /* width: 295px; */
  font-weight: 500;
  font-size: 22px;
  line-height: 1.16;
  letter-spacing: -0.06em;
  color: #141414;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}
.instruction-list {
  color: #141414;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.045em;
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  width: 240px;
  margin-bottom: 20px;
  padding: 0;
}

.instruction-item {
  /* width: 275px; */
  color: #141414;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.035em;
  position: relative;
  display: flex;
  align-items: center;
  gap: 14px;
}

.instruction-item::before {
  counter-increment: list-item;
  content: counter(list-item);
  font-size: 18px;
  font-weight: 400;
  width: 46px;
  height: 46px;
  background: #a1c487;
  flex: 0 0 auto;
  border-radius: 50%;
  color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*! ---------M-O-B-I-L-E------------- */
@media screen and (min-width: 320px) {
  /* .container {
    max-width: 300px;
  } */
}
/* -------------------авмвам */
@media screen and (min-width: 375px) {
  /* .container {
    max-width: 335px;
  } */
  .instruction-container {
    width: calc(100% - 40px);
    /* max-width: 375px; */
  }
}

/*! -----------T-A-B-L-E-T------------- */
@media screen and (min-width: 768px) {
  /* .container {
    max-width: 704px;
  } */
  /* .section-instruction {
    padding: 0px 32px;
    margin-bottom: 101px;
  } */
  .instruction-container {
    /* width: calc(100% - 64px); */
    max-width: 704px;
  }

  .instruction-container {
    flex-wrap: unset;
    display: flex;
    flex-direction: row;
    background-color: var(--light-bg-color);
    background-image: url(/img/instruction/bg-tablet-1x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-image: url(/img/instruction/bg2.svg) width="704" height="488";
    background-repeat: space; */
    /* width: 704px;
    height: 488px; */
  }
  .red-girl {
    width: 350px;
    height: 446px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    object-position: bottom;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .instruction-container {
      background-image: url(/img/instruction/bg-tablet-2x.png);
    }
  }

  .instruction-img {
    /* margin-top: 40px; */

    width: 350px;
    height: 456px;
  }

  .instruction-text {
    /* margin: 80px 40px; */
    width: 274px;
    /* margin-top: 80px;
    margin-left: 40px; */
    padding: 80px 40px 80px 40px;
  }
  .instruction-title {
    width: 274px;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.07em;
  }
  .instruction-list {
    width: 275px;
    margin: 0;
  }
}
/*! ----------------D-E-S-K-T-O-P-------------- */
@media screen and (min-width: 1280px) {
  /* .container {
    max-width: 1216px;
  } */

  /* .section-instruction {
    margin-bottom: 124px;
  } */
  .instruction-container {
    max-width: 1280px;
  }
  .instruction-container {
    border-radius: 80px;
    flex-wrap: unset;
    display: flex;
    flex-direction: row;
    background-color: var(--light-bg-color);
    background-image: url(/img/instruction/bg-desktop-1x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-image: url(/img/instruction/bg2.svg) width="1216" height="460"; */
    /* background-repeat: space; */
    /* width: 1216px;
    height: 460px; */
  }
  .red-girl {
    height: 430px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .instruction-container {
      background-image: url(/img/instruction/bg-desktop-2x.png);
    }
  }
  .instruction-img {
    margin: 0;
    padding-top: 40px;
    padding-left: 80px;
    width: 432px;
    height: 420px;
    object-fit: unset;
    object-position: bottom;
  }
  .instruction-text {
    width: 100%;
    padding: 80px 80px 84px 110px;
    /* margin-left: 110px;
    margin-top: 80px; */
    /* margin: auto; */
  }
  .instruction-title {
    width: 512px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    margin-bottom: 40px;
    /* margin-top: 80px; */
  }
  .instruction-list {
    width: 349px;
  }
  .instruction-item {
    width: 100%;
  }
}
